#platform=x86, AMD64, or Intel EM64T
# System authorization information
auth  --useshadow  --enablemd5 
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel 
# Use text mode install
text
# Firewall configuration
firewall --disabled
# Run the Setup Agent on first boot
firstboot --disable
# System keyboard
keyboard uk
# System language
lang en_US
# Installation logging level
logging --level=info
# Use CDROM installation media
#cdrom
# Use NFS installation
nfs --server=192.168.1.2 --dir=/tftp/root/centos/6/6/x86_64/

# Network information
network --bootproto=dhcp --device=eth0 --onboot=on
# Reboot after installation
reboot
#Root password
rootpw root

# SELinux configuration
selinux --disabled
# System timezone
timezone --isUtc Europe/Berlin
# Install OS instead of upgrade
install
# X Window System configuration information

%packages
@system-tools
@core
-sysreport
